files:
  "/etc/logstash/conf.d/rails.conf":
    content: |
      input {
        file {
            path => "/var/app/current/log/logstasher.log"
            type => "rails_logs"
            codec =>   json {
              charset => "UTF-8"
            }
         }
      }

      filter {
        geoip {
          source => "ip"
          target => "geoip"
          database => "/etc/logstash/GeoLiteCity.dat"
          add_field => [ "[geoip][coordinates]", "%{[geoip][longitude]}" ]
          add_field => [ "[geoip][coordinates]", "%{[geoip][latitude]}"  ]
        }
      }

      output {
        elasticsearch {
          hosts => 'your_elastic_url'
          document_id => "%{request_id}"
          timeout => 15
        }
      }
