commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
  create_restartappserver_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/restartappserver/post"
    ignoreErrors: true
  01_enable_rootaccess:
    command: echo Defaults:root !requiretty >> /etc/sudoers
  100-install-logstash:
      command: "sudo yum -y install logstash"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/logstash_geoip.sh":
    mode: "000755"
    group: root
    owner: root
    content: |
      #!/bin/bash
      cd /etc/logstash
      rm GeoLiteCity*
      sudo curl -O "http://geolite.maxmind.com/download/geoip/database/GeoLiteCity.dat.gz"
      sudo gunzip GeoLiteCity.dat.gz

  "/opt/elasticbeanstalk/hooks/appdeploy/post/start_logstash.sh":
    mode: "000755"
    group: root
    owner: root
    content: |
      #!/bin/bash
      for pid in `ps aux | grep /etc/logstash/conf.d | grep -v grep | tr -s ' ' | cut -d ' ' -f 2`
      do
        sudo kill -9 $pid
      done

      export HOME=/var/lib/logstash

      sudo service logstash restart


  "/opt/elasticbeanstalk/hooks/restartappserver/post/start_logstash.sh":
    mode: "000755"
    group: root
    owner: root
    content: |
      #!/bin/bash
      for pid in `ps aux | grep /etc/logstash/conf.d | grep -v grep | tr -s ' ' | cut -d ' ' -f 2`
      do
        sudo kill -9 $pid
      done

      export HOME=/var/lib/logstash

      sudo service logstash restart
